<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>
    
    <main>
        <h1>Pokédex</h1>
        
        <div class="search-box">
            <label for="search-input">Search</label>
            <input type="text" id="search-input" placeholder="pokémon name or pokédex no.">
        </div>
        <h2 class="no-results" style="display: none">Oops! We couldn't find any matching Pokemon. Maybe try searching for something else?</h2>
        <div class="pokedex">
        <% pokedex.forEach((pokemon) => { %>
            <div class="pokedex-entry" id="<%=pokemon._id%>" data-name="<%=pokemon.Name%>" data-pokedex="<%=pokemon.PokedexID%>">
                <img src=<%=pokemon.ImgPath%>></a>
                <!-- prettier-ignore -->
                <% let pokeName = pokemon.Name.startsWith('mr.') ? pokemon.Name[0].toUpperCase() + pokemon.Name.slice(1, 4) + pokemon.Name[4].toUpperCase() + pokemon.Name.slice(5): pokemon.Name[0].toUpperCase() + pokemon.Name.slice(1)%>
                <div class="pokedex-label">
                    <h3><%=pokeName%></h3>
                    <h4>#<%=String(pokemon.PokedexID).padStart(4, 0)%></h4>
                </div>
            </div>
        <% }) %>
        </div>
    </main>
    <%- include("./partials/footer")%>
    <script src="/js/search.js"></script>
    <script src="/js/pokedex.js"></script>
</body>
</html>