<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>

    <main>
      <div class="pokemon-details <%=pokemon.Type[0]%>-details">
        <div class="poke-info">
          <!-- prettier-ignore -->
          <% let pokeName = pokemon.Name.startsWith('mr.') ? pokemon.Name[0].toUpperCase() + pokemon.Name.slice(1, 4) + pokemon.Name[4].toUpperCase() + pokemon.Name.slice(5): pokemon.Name[0].toUpperCase() + pokemon.Name.slice(1)%>
          <p>Species</p>
          <h3><%=pokeName%></h3>
          <p>Pokedéx No. <span><%=String(pokemon.PokedexID).padStart(4, "0")%></span></p>
          <!-- <h4>#<%=String(pokemon.PokedexID).padStart(4, "0")%></h4> -->
          <%pokemon.Type.forEach(type => { %>
          <p class="type <%=type%>"><%=type%></p>
          <%})%>
          <h5>Owners</h3>
          <div class="species-owners">
            <% trainers.forEach((trainer) => { %>
            <div>
              <p><a href="/trainer/<%=trainer._id%>"> <%= trainer.Name %> </a></p>
            </div>
            <% }) %>
          </div>
        </div>
        <img src="<%=pokemon.ImgPath%>">
      </div>
      <div class="back-btn"><a href="/pokedex" class="pseudo-button">< Back to Pokédex</a></div>
    </main>
    <%- include("./partials/footer")%>
  </body>
</html>
